$primary-color: #0069c0;
$secondary-color: #2196f3;
$text-primary: #1D1D1F;
$text-secondary: #757575;
$text-accent: #9C9C9C;
$quote: #97adce;
// $border: #F2FFFF;
$border: #E8E8E8;
$cta-accent: #0071E3;
$cta-main: #0071E3;

// Font sizes:

$title: 3.5vw;
$title-spaced: 1.1vw;
$subtitle: 1.9vw;
$description: 1.2vw;
$description-lg: 2.7vw;
$cta: 1.9vw;

// Mobile Font sizes:
$mb-title: 7vw;
$mb-title-spaced: 3vw;
$mb-subtitle: 4.5vw;
$mb-description: 4vw;
$mb-description-lg: 6vw;
$mb-cta: 5vw;

// Mobile breakpoint:
$mb-width: 850px