*, div * {
    padding: 0%;
    margin: 0%;
    font-family: 'Poppins' ,'Open Sans', sans-serif;
    overflow-x: hidden; 
}

html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

a {
    cursor: pointer;
}